<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <appSettings>
    <add key="DbName" value="loja.mdf"/>
    <add key="DiretorioComprovante" value="D:\Estudo\Microsoft\Csharp\Projects\PDV Casa Mendes - Editar\bin\Comprovantes"/>
    <add key="DiretorioFotos" value="D:\Estudo\Microsoft\Csharp\Projects\PDV Casa Mendes - Editar\bin\Fotos"/>
    <add key="DbDiretorio" value="D:\Estudo\Microsoft\Csharp\Projects\PDV Casa Mendes - Editar\bin\MDF"/>
    <add key="DbServer" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="/>
  </appSettings>
</configuration>
