<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <appSettings>
    <add key="ServerDb" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="/>
    <add key="DirDb" value="D:\Estudo\Microsoft\Csharp\Projects\PDV Casa Mendes - Editar\bin\MDF"/>
    <add key="NameDb" value="loja.mdf"/>
    <add key="DirComprovantes" value="D:\Estudo\Microsoft\Csharp\Projects\PDV Casa Mendes - Editar\bin\Comprovantes"/>
    <add key="DirFotos" value="D:\Estudo\Microsoft\Csharp\Projects\PDV Casa Mendes - Editar\bin\Fotos"/>
    <add key="DirLogs" value="D:\Estudo\Microsoft\Csharp\Projects\PDV Casa Mendes - Editar\bin\Logs"/>
    <add key="PrinterName" value="Microsoft Print to PDF"/>
    <add key="Tributos" value="14,99"/>
    <add key="Juros" value="3,01"/>
    <add key="EstoqueMinimo" value="3"/>
  </appSettings>
</configuration>
